* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbarContainer {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1000;
  height: 5.55vw;
  position: sticky;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  font-family: "Poppins", sans-serif;
}

.TataLogo {
  width: 170px;
  margin-left: 5px;
}

.unorderList {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  margin-left: 10px;
}

.unorderList li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* padding: 0 19.2px; */
  /* margin: 0 20px; */
  /* margin-right: 20px; */
  padding: 0 21px;
}

.unorderList li a {
  text-decoration: none;
    font-size: 21px;
    font-weight: 500;
    color: #3b3b3b;
    transition: color 0.3s ease;
}
.unorderList li a:hover {
  color: #ff6f61;
}

.navbarContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff6f61;
  transition: width 0.3s ease-in-out;
}

.unorderList li:hover ~ .navbarContainer::after {
  width: 100%;
}

.navbarImgContainer {
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 10px;
}

.new {
  background-color: #ff6f61;
  padding: 2px 6px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  margin-left: 3px;
  font-size: 20px;
}

.fa-solid {
  font-size: 14px;
  padding-left: 5px;
}

.orderListContainer {
  height: 100%;
}
